
@font-face {
    font-family: bebas;
    src: url(../../fonts/BebasNeue-Regular.eot);
  }
  
  @font-face {
    font-family: boston;
    src: url(../../fonts/boston.ttf);
  }
  
  $c-code:#B1A995;
  $c-passion:#7AA8AB;
  $c-crea:#756980;
  $c-hover:#57A8FE;
