
@font-face {
  font-family: bebas;
  src: url(../../fonts/BebasNeue-Regular.eot);
}

@font-face {
  font-family: boston;
  src: url(../../fonts/boston.ttf);
}

$c-code:#B1A995;
$c-passion:#7AA8AB;
$c-crea:#756980;
$c-hover:#57A8FE;

.fullscreenAccueil{
  overflow: hidden;
  display: flex;
  background-color: black;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
}

.scroll{
  position: absolute;
  top:80px;
  left:45px;
  color:aliceblue;
  font-size: 0.8rem;
}

.navbar-brand {
  color: aliceblue !important;
  padding: 0 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'bebas', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-menu {
  background: transparent;
  padding: 30px;
  width: 100%;
  transition: all .4s;
}


.nav-item {
  padding: 0 10px;
}

.menu-item {
  font-family: 'bebas', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: aliceblue !important;
  text-transform: uppercase;
}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.ham {
  transition: width 0.3s;
  background: #F9F8F7;
}

.line1, .line3  {
  width: 28px;
  height: 2px;
  margin: 6px;    
  transition:  0.4s;
  
}

.change .line1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
  transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
  color: $c-hover !important;
}

.nav-active {
  color:aliceblue;
}

.dropdown-item {
  font-family: 'bebas', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.costum-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000 !important;  
  position: fixed;
}


.letterCode{
    font-family: boston, sans-serif;
    font-size: 250px;
    color:$c-code;
  }

  .letterPassion{
    font-family: boston, sans-serif;
    font-size: 250px !important;
    color:$c-passion;
  }
  
  .letterCrea{
    font-family: boston, sans-serif;
    font-size: 250px;
    color:$c-crea; 
  }

  .title-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
  }

  .ss-item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    }
  

  .ss-container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

.img {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 300px;
      perspective: 1000px;
      transform-style: preserve-3d;
      z-index: 0;
      opacity:0.2;
  }

    .ss-item{
      position: absolute;
      z-index: -100;
      height: 100%;
      width: 100%; 
      transition-timing-function: ease-in-out; 
      &.ss-moving{
        z-index: 100 !important;
      }
      &.ss-fade{
        opacity: 0;
        &.active{
          opacity: 1;
          z-index: 1;  
        }
      }
      &.ss-move-up{
        top: 100%;
        &.ss-move-next{
          top: 100%;
        }
        &.ss-move-prev{
          top: -100%;       
        }
        &.active{
          top: 0;
          z-index: 1000 !important;  
        }
      }
      &.ss-move-down{
        top: -100%;
        &.ss-move-next{
          top: -100%;
        }
        &.ss-move-prev{
          top: 100%;       
        }
        &.active{
          top: 0;
          z-index: 1000 !important;   
        }
      }
      &.ss-move-right{
        right: 100%;
        &.ss-move-next{
          right: 100%;
        }
        &.ss-move-prev{
          right: -100%;       
        }
  
        &.active{
          right: 0 !important;
          z-index: 1000 !important;   
        }
      }
      &.ss-move-left{
        right: -100%;
        &.ss-move-next{
          right: -100%;
        }
        &.ss-move-prev{
          right: 100%;       
        }
        &.active{
          right: 0;
          z-index: 1000 !important;    
        }
      }
    }
  }
  
/*    TELEPHONES */
@media screen and (max-width: 768px){
 

    .menu-item {
        padding: 10px 10px 10px;
    }
  
  .letterCode{
    font-size: 50px;
  }
  .letterPassion{
    font-size: 50px !important;
  }
  .letterCrea{
        font-size: 50px;
     }
    
     .ss-container .img{
  
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      perspective: 1000px;
    
  }
  }
  
  
  /*    TABLETTES  */
  @media screen and (min-width: 769px) and (max-width: 992px) {
  

  
  }
  

  
