@import "_accueil";

.fullscreenAPropos{
    background-color: black;
     height:100vh;
     width: 100%;

}

#carousel{ 
    perspective: 1000px; 
    background: transparent; 
    padding-top: 3rem; 
    font-size:0; 
    overflow: hidden; 
  }

  figure#spinner { 
    transform-style: preserve-3d; 
    height: 150px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  
  } 
  figure#spinner div{ 
    width: 150px; 
    background-color: #e4dedeec;
    position: absolute; 
    left: 40%;
    text-align: center;
    transform-origin: 50% 50% -500px;
    outline:1px solid aliceblue; 
  }
  figure#spinner div:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner div:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner div:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner div:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner div:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner div:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner div:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner div:nth-child(8){ transform: rotateY(-315deg); }

  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }


article{
color:rgb(161, 75, 180);
text-align: center;
font-family: bebas, sans-serif;
overflow: hidden;
width:100%;
display: flex;
flex-flow: row nowrap;
margin-top: 30px;
}

.article_p{
  padding-top: 20px;
  margin-top: 10px;
}

.article_span-size{
  font-size:130px;
  position: relative;
  top:-15px;
}

#H{

  animation: slideInH 3s normal;
  animation-fill-mode: forwards;
}

@keyframes slideInH {
  0% {
    left:-100px;
  }
  100% {
   left: 5px; 
  }
}

#E{
 
  animation: slideInE 3s normal;
  animation-fill-mode: forwards;
}

@keyframes slideInE {
  0% {
    top:150px;
  }
  100% {
   top: 0; 
  }
}

#Y{
 
  animation: slideInY 3s reverse;
  animation-fill-mode: forwards;
}

@keyframes slideInY {
  0%{
    left:0;
  }
  100% {
   left: 95px; 
  }
}


/*    TELEPHONES */
@media screen and (max-width: 768px){

.fullscreenAPropos{
  display: flex;
  flex-direction: row;
}

#carousel{
  display:none;

}

.ss-icon{
  display: none;
}

article{
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin: auto;
  }

  #H, #E, #Y{
    font-size:42px;
      margin: 10px auto;
      font-weight: 700;
  }

  .article_span-size{
    position: relative;
  }
  
  #H{
  
    animation: slideInH 3s normal;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideInH {
    0% {
      left:-200px;
    }
    100% {
     left: 5px; 
    }
  }
  
  #E{
   
    animation: slideInE 3s normal;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideInE {
    0% {
      left:200px;
    }
    100% {
   left: 0; 
    }
  }
  
  #Y{
   
    animation: slideInY 3s normal;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideInY {
    0% {
      left:-200px;
    }
    100% {
     left: 5px; 
    }
  }
}


/*    TABLETTES  */
@media screen and (min-width: 769px) and (max-width: 992px) {

  .fullscreenAPropos{
    display: flex;
    flex-flow: row nowrap;  
  }
  
#carousel{
//  padding-top: 50px;
 margin:0;
}

  article{
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 100px auto;
    }
  
    #H, #E, #Y{
      font-size:42px;
      margin: 20px auto;
      font-weight: 700;
    }
  
    .article_span-size{
      position: relative;
    }
    
    #H{
    
      animation: slideInH 3s normal;
      animation-fill-mode: forwards;
    }
    
    @keyframes slideInH {
      0% {
        left:-200px;
      }
      100% {
       left: 5px; 
      }
    }
    
    #E{
     
      animation: slideInE 3s normal;
      animation-fill-mode: forwards;
    }
    
    @keyframes slideInE {
      0% {
        left:200px;
      }
      100% {
     left: 0; 
      }
    }
    
    #Y{
     
      animation: slideInY 3s normal;
      animation-fill-mode: forwards;
    }
    
    @keyframes slideInY {
      0% {
        left:-200px;
      }
      100% {
       left: 5px; 
      }
    }

}